.visualizer {
  width: 100vw;
  height: 100vh;
  background-color: #1b262c;
  position: relative;
}

@keyframes kickAnimation {
  0% { 
    transform: scale(1); 
    opacity: 1;
  }
  10% { transform: scale(1); }
  100% { 
    transform: scale(.8); 
  }
}

@keyframes tomAnimation {
  0% { 
    transform: scale(1); 
    opacity: 1;
  }
  10% { transform: scale(.7); }
  100% { 
    transform: scale(.4); 
  }
}

@keyframes snareAnimation {
  0% { 
    opacity: 1;
  }
  20% {
    opacity: .3;
  }
  100% { 
    transform: scale(.5); 
  }
}

@keyframes hiHatAnimation {
  0% { 
    transform: scaleY(1) scaleX(1);
    opacity: 1;
  }
  100% { 
    transform: scaleY(0) scaleX(0); 
  }
}

@keyframes crashAnimation {
  0% { 
    opacity: 1;
  }
  100% { 
    opacity: 0;
  }
}

.fixed {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.fixedTom {
  position: absolute;
  left: calc(50vw - 400px);
  top: calc(50vh - 400px);
  width: 800px;
  height: 800px;
}

.fixedSnare {
  z-index: 998;
  position: absolute;
  left: calc(50vw - 400px);
  top: calc(50vh - 400px);
  width: 800px;
  height: 800px;
}

.hiHatFixed {
  position: absolute;
  left: calc(50vw - 400px);
  top: calc(50vh - 400px);
  width: 800px;
  height: 800px;
}

.kick {
  z-index: 999;
  animation: kickAnimation 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0;
}

.kickStop1 {
  stop-color: #fff;
  stop-opacity: 0.8;
}

.kickStop2 {
  stop-color: #e8505b;
  stop-opacity: 1;
}

.snareStop1 {
  stop-color: #fff;
  stop-opacity: 0.8;
}

.snareStop2 {
  stop-color: orange;
  stop-opacity: 1;
}

.snare {
  z-index: 5;
  animation: snareAnimation .3s linear;
  opacity: 0;
}

.poly {
  fill: lime;
  stroke: purple;
  stroke-width: 1;
}

.hiHat {
  animation: hiHatAnimation .8s linear;
  opacity: 0;
}

.tom {
  opacity: 0;
  animation: tomAnimation .5s linear;
}

.crash {
  opacity: 0;
  animation: crashAnimation .5s linear;
}