.visualizer {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
}

@keyframes kickAnimation {
  0% { 
    transform: scale(1); 
    opacity: 1;
  }
  10% { transform: scale(1); }
  100% { 
    transform: scale(.8); 
  }
}

@keyframes snareAnimation {
  0% { 
    opacity: 1;
  }
  100% { 
    transform: scale(.5) rotate(40deg); 
  }
}

@keyframes hiHatAnimation {
  0% { 
    transform: scaleY(0);
    opacity: 1;
  }
  100% { 
    transform: scaleY(1); 
  }
}

.star-shape {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  animation: scale .4s linear;
}

.fixed {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.hiHatFixed {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.kick {
  z-index: 2;
  animation: kickAnimation .5s linear;
}

.snare {
  z-index: 1;
  animation: snareAnimation .5s linear;
}

.hiHat {
  animation: hiHatAnimation .8s linear;
}

